name: Run Code Quality Tools

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  checkstyle:
    name: Checkstyle
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Cache Checkstyle cache-file
        id: cache-checkstyle
        uses: actions/cache@v4
        with:
          path: target/checkstyle-cachefile
          key:  ${{ runner.os }}-checkstyle-${{ hashFiles('**/*.java', 'config/checkstyle/*.xml') }}
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: maven
      - name: Run Checkstyle (Fail on violations)
        run: mvn validate -B -P checkstyle
